Jinja2==2.7.1
MarkupSafe==0.18
Pygments==1.6
SQLAlchemy==0.7.7
Sphinx==1.1.3
argparse==1.2.1
astropy==0.2.4
docutils==0.11
freeze==0.2.0
ipython==1.0.0
lineid-plot==0.2
matplotlib==1.3.0
nose==1.3.0
numpy==1.7.1
periodic==2.1.1
pyparsing==2.0.1
python-dateutil==2.1
pyzmq==13.1.0
scipy==0.12.0
six==1.3.0
tornado==3.1
wsgiref==0.1.2
